In [4]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
player_path = 'gdrive/My Drive/nba_summary_17_19.csv'
team_path = 'gdrive/My Drive/team_boxscores_2017_2018.csv'

In [6]:
import pandas as pd
player_df = pd.read_csv(player_path)
team_df = pd.read_csv(team_path)
print(player_df.columns, '\n\n',team_df.columns)

Index(['id', 'created_on', 'updated_on', 'source', 'is_duplicated',
       'display_name', 'match_id', 'team_id', 'team_abbr', 'team_city',
       'player_id', 'player_name', 'start_position', 'comment', 'min', 'fgm',
       'fga', 'fg_pct', 'fg3m', 'fg3a', 'fg3_pct', 'ftm', 'fta', 'ft_pct',
       'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk', 'to', 'pf', 'pts',
       'plus_minus', 'ast_pct', 'ast_ratio', 'ast_tov', 'blka', 'def_rating',
       'dreb_pct', 'e_def_rating', 'e_net_rating', 'e_off_rating', 'e_pace',
       'e_usg_pct', 'efg_pct', 'net_rating', 'off_rating',
       'opp_pts_2nd_chance', 'opp_pts_fb', 'opp_pts_off_tov', 'opp_pts_paint',
       'oreb_pct', 'pace', 'pfd', 'pie', 'pts_2nd_chance', 'pts_fb',
       'pts_off_tov', 'pts_paint', 'reb_pct', 'tm_tov_pct', 'ts_pct',
       'usg_pct', 'granularity', 'per_mode', 'season_id', 'dd2', 'fp', 'gp',
       'td3', 'hometeam_id', 'hometeam_abbr', 'visitorteam_id',
       'visitorteam_abbr', 'final_hscore', 'final_vscore',
       'player_position_code', 'player_height', 'player_weight', 'season'],
      dtype='object')

 Index(['match_id', 'team_id', 'team_name_x', 'team_abbr', 'team_city', 'min',
       'fgm', 'fga', 'fg_pct', 'fg3m', 'fg3a', 'fg3_pct', 'ftm', 'fta',
       'ft_pct', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk', 'to', 'pf', 'pts',
       'plus_minus', 'source', 'team_name_y', 'e_off_rating', 'off_rating',
       'e_def_rating', 'def_rating', 'e_net_rating', 'net_rating', 'ast_pct',
       'ast_tov', 'ast_ratio', 'oreb_pct', 'dreb_pct', 'reb_pct',
       'e_tm_tov_pct', 'tm_tov_pct', 'efg_pct', 'ts_pct', 'usg_pct',
       'e_usg_pct', 'e_pace', 'pace', 'pie', 'team_name', 'pts_off_tov',
       'pts_2nd_chance', 'pts_fb', 'pts_paint', 'opp_pts_off_tov',
       'opp_pts_2nd_chance', 'opp_pts_fb', 'opp_pts_paint', 'blka', 'pfd',
       'granularity', 'season_id', 'per_mode'],
      dtype='object')

In [7]:
# dataframe property
print(player_df.shape, team_df.shape)

(69863, 81) (5538, 62)

In [8]:
# filter match ids
match_id_field = list(player_df['match_id']) + list(team_df['match_id'])
unwanted_ids = [i for i in match_id_field if str(i)[0] != '2']
print("unwanted match_id number: ", len(unwanted_ids))

unwanted match_id number:  9665

In [9]:
# assumption testing -> match id is always 8 digits
match_id_len = [len(str(i)) == 8 for i in match_id_field]
print("Assumption is tested to be: ", all(match_id_len))

Assumption is tested to be:  True

In [0]:
# regular season match ids start with 2
# Filter all those starting with 2
def remove_non_nba(data):
  return data[(data['match_id'] >= 20000000) & (data['match_id'] < 30000000)]

In [11]:
# test match_id filter
nba_player_df = remove_non_nba(player_df)  # nba df is all match within nba(match id starts with 2)
nba_team_df = remove_non_nba(team_df)
print("Rows filtered out: ", (player_df.shape[0] + team_df.shape[0]) - (nba_player_df.shape[0] + nba_team_df.shape[0]))

Rows filtered out:  9665

In [12]:
# Now we try to understand the season data
season_id_field = list(set(player_df['season'])) + list(set(team_df['season_id']))
print("Season ids are: ", season_id_field)

Season ids are:  ['2017-18', '2018-19', 22017, 22018]

In [0]:
# convert season_id for consistency
pd.options.mode.chained_assignment = None

nba_player_df.loc[nba_player_df['season'] == '2018-19', 'season_id'] = 22018
nba_player_df.loc[nba_player_df['season'] == '2017-18', 'season_id'] = 22017
nba_player_df = nba_player_df.astype({'season_id':int})

In [0]:
# The data contains 2 seasons
# Separate 2017 and 2018 season
# Look at season_id attribute
def separate_season(data):
  return data[data['season_id'] == 22017], data[data['season_id'] == 22018]

In [15]:
# separate data based on season
player17_df, player18_df = separate_season(nba_player_df)
team17_df, team18_df = separate_season(nba_team_df)
print(player17_df.shape, player18_df.shape, team17_df.shape, team18_df.shape)

(30020, 81) (30796, 81) (2460, 62) (2460, 62)

In [0]:
# add a home/ away column to team df
def bool_home_away(player, team):
  # Use the players dataset
  # Compare team_id with hometeam_id
  # Then use match_ids in the two datasets to take home/away boolean
  # from players dataset to team dataset
  isHome = player['team_id'] == player['hometeam_id']
  player = player.assign(isHome = isHome.values)
  team = team.merge(player[['match_id', 'team_id', 'isHome']], on=['match_id', 'team_id'], how = 'left')
  team.drop_duplicates(inplace=True)
  return player, team

In [17]:
# add isHome to both player and team df
player17, team17 = bool_home_away(player17_df, team17_df)
player18, team18 = bool_home_away(player18_df, team18_df)
print(player17.shape, player18.shape, team17.shape, team18.shape)

(30020, 82) (30796, 82) (2460, 63) (2460, 63)

In [0]:
def pts_scored_recieved(player):
  player['pts_scored'] = 0 
  player['pts_received'] = 0
  player.loc[player['isHome'] == True, ['pts_scored']] = player['final_hscore'] # points scored = home score for home teams.
  player.loc[player['isHome'] == True, ['pts_received']] = player['final_vscore'] # points received = away score for home teams.
  player.loc[player['isHome'] == False, ['pts_scored']] = player['final_vscore']
  player.loc[player['isHome'] == False, ['pts_received']] = player['final_hscore']
  return player

In [19]:
pts_scored_recieved(player17)
pts_scored_recieved(player18)
print('Done')

Done

In [20]:
team18.head()

    match_id     team_id   team_name_x  ... season_id per_mode  isHome
0   21800729  1610612762          Jazz  ...     22018  PerGame    True
13  21800729  1610612750  Timberwolves  ...     22018  PerGame   False
26  21800428  1610612758         Kings  ...     22018  PerGame    True
39  21800428  1610612744      Warriors  ...     22018  PerGame   False
50  21800081  1610612753         Magic  ...     22018  PerGame   False

[5 rows x 63 columns]

In [21]:
team17.head()

    match_id     team_id team_name_x  ... season_id per_mode  isHome
0   21700366  1610612762        Jazz  ...     22017  PerGame    True
12  21700366  1610612745     Rockets  ...     22017  PerGame   False
24  21700507  1610612754      Pacers  ...     22017  PerGame    True
36  21700507  1610612742   Mavericks  ...     22017  PerGame   False
47  21700105  1610612749       Bucks  ...     22017  PerGame   False

[5 rows x 63 columns]

In [0]:
def get_rolling(data): # team data as input
  relevant_stats = ['match_id', 'team_id', 'isHome', 'plus_minus', 'fgm', 'fga', 'fg_pct', 'fg3m', 'fg3a',
                  'fg3_pct', 'ftm', 'fta', 'ft_pct', 'oreb', 'dreb', 'reb', 
                  'ast', 'stl', 'blk', 'to', 'pf', 'pts', 'e_off_rating', 
                  'off_rating', 'e_def_rating', 'def_rating', 'e_net_rating', 
                  'net_rating', 'ast_pct', 'ast_tov', 'ast_ratio', 'oreb_pct', 
                  'dreb_pct', 'reb_pct', 'e_tm_tov_pct', 'tm_tov_pct', 'efg_pct', 
                  'ts_pct', 'usg_pct', 'e_usg_pct', 'e_pace', 'pace', 'pie', 
                  'pts_off_tov', 'pts_2nd_chance', 'pts_fb', 'pts_paint', 'opp_pts_off_tov', 
                  'opp_pts_2nd_chance', 'opp_pts_fb', 'opp_pts_paint', 'blka', 'pfd']

  constant_attr=['match_id', 'team_id', 'isHome', 'plus_minus']
  
  data = data.sort_values('match_id', ascending=True) # sort by date (matchid is chronological)
  data.set_index(constant_attr,inplace=True) # set constants as index so they dont get averaged
  result= data.groupby("team_id").apply(lambda x:x.rolling(window=5).mean()) # get rolling avg
  dropped = result.dropna()
  result = dropped.groupby('match_id').apply(filter_single)
  result = result.reset_index(level=[1, 2, 3, 4]) # put indexes back in as columns
  result = result.drop(['match_id'], axis=1)
  result = result.reset_index(level=0)

  return result

In [0]:
def filter_single(x):
  if  len(x)>1:
    return x

In [0]:
def get_logReg_test(teamdf): # testing dataset
  team = get_rolling(teamdf) # get moving avgs
  home = team.loc[team['isHome']==True]
  visitor = team.loc[team['isHome']==False] # divide as home- away
  visitor = visitor.rename(columns={'team_id': 'v_team_id', 'ast_tov' : 'v_ast_tov', 'oreb_pct': 'v_oreb_pct',
                                    'efg_pct': 'v_efg_pct', 'e_net_rating': 'v_net_rating'}) # identify visitor stats
  visitor = visitor[['match_id', 'v_ast_tov', 'v_oreb_pct', 'v_efg_pct', 'v_net_rating']]
  home = home[['match_id', 'ast_tov', 'oreb_pct', 'efg_pct', 'e_net_rating', 'plus_minus']]
  data = pd.merge(home, visitor, on='match_id') # merge home&visitor stats
  data['winner'] = 'N/A'
  data.loc[data['plus_minus']>0, ['winner']] = 1 #add winner column (1 if home, 0 if away)
  data.loc[data['plus_minus']<0, ['winner']] = 0
  data = data.drop(['plus_minus', 'match_id'], axis=1)
  return(data)

In [0]:
def get_logReg_train(teamdf): # training dataset
  team = teamdf
  home = team.loc[team['isHome']==True]
  visitor = team.loc[team['isHome']==False]
  visitor = visitor.rename(columns={'team_id': 'v_team_id', 'ast_tov' : 'v_ast_tov', 'oreb_pct': 'v_oreb_pct',
                                    'efg_pct': 'v_efg_pct', 'e_net_rating': 'v_net_rating'}) # identify visitor stats
  visitor = visitor[['match_id', 'v_ast_tov', 'v_oreb_pct', 'v_efg_pct', 'v_net_rating']]
  home = home[['match_id', 'ast_tov', 'oreb_pct', 'efg_pct', 'e_net_rating', 'plus_minus']]
  data = pd.merge(home, visitor, on='match_id') # merge home&visitor stats
  data['winner'] = 'N/A'
  data.loc[data['plus_minus']>0, ['winner']] = 1 #add winner column (1 if home, 0 if away)
  data.loc[data['plus_minus']<0, ['winner']] = 0
  data = data.drop(['plus_minus', 'match_id'], axis=1)
  return(data)

In [0]:

train = get_logReg_train(team17)
test = get_logReg_test(team18)

In [46]:
from sklearn.linear_model import LogisticRegression

x_train, y_train = train.drop(columns=['winner']), train['winner']

log_reg = LogisticRegression()
log_reg.fit(x_train, y_train) #train

x_test, y_test = test.drop(columns=['winner']), test['winner']

acc=log_reg.score(x_test, y_test) #test
print(acc)
# print("Baseline accuracy is {} on our test data".format(acc))

0.7570815450643776

In [47]:
print(log_reg.coef_)
print(log_reg.intercept_)

[[ 0.25026277  1.22952908 -0.02257944  0.41729546 -0.30639857 -1.60479844
   0.19335808 -0.41729546]]
[0.34056972]