In [0]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
player_path = 'gdrive/My Drive/nba_summary_17_19.csv'
team_path = 'gdrive/My Drive/team_boxscores_2017_2018.csv'

In [0]:
import pandas as pd
player_df = pd.read_csv(player_path)
team_df = pd.read_csv(team_path)
print(player_df.columns, '\n\n',team_df.columns)

Index(['id', 'created_on', 'updated_on', 'source', 'is_duplicated',
       'display_name', 'match_id', 'team_id', 'team_abbr', 'team_city',
       'player_id', 'player_name', 'start_position', 'comment', 'min', 'fgm',
       'fga', 'fg_pct', 'fg3m', 'fg3a', 'fg3_pct', 'ftm', 'fta', 'ft_pct',
       'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk', 'to', 'pf', 'pts',
       'plus_minus', 'ast_pct', 'ast_ratio', 'ast_tov', 'blka', 'def_rating',
       'dreb_pct', 'e_def_rating', 'e_net_rating', 'e_off_rating', 'e_pace',
       'e_usg_pct', 'efg_pct', 'net_rating', 'off_rating',
       'opp_pts_2nd_chance', 'opp_pts_fb', 'opp_pts_off_tov', 'opp_pts_paint',
       'oreb_pct', 'pace', 'pfd', 'pie', 'pts_2nd_chance', 'pts_fb',
       'pts_off_tov', 'pts_paint', 'reb_pct', 'tm_tov_pct', 'ts_pct',
       'usg_pct', 'granularity', 'per_mode', 'season_id', 'dd2', 'fp', 'gp',
       'td3', 'hometeam_id', 'hometeam_abbr', 'visitorteam_id',
       'visitorteam_abbr', 'final_hscore', 'final_vscore',
       'player_position_code', 'player_height', 'player_weight', 'season'],
      dtype='object')

 Index(['match_id', 'team_id', 'team_name_x', 'team_abbr', 'team_city', 'min',
       'fgm', 'fga', 'fg_pct', 'fg3m', 'fg3a', 'fg3_pct', 'ftm', 'fta',
       'ft_pct', 'oreb', 'dreb', 'reb', 'ast', 'stl', 'blk', 'to', 'pf', 'pts',
       'plus_minus', 'source', 'team_name_y', 'e_off_rating', 'off_rating',
       'e_def_rating', 'def_rating', 'e_net_rating', 'net_rating', 'ast_pct',
       'ast_tov', 'ast_ratio', 'oreb_pct', 'dreb_pct', 'reb_pct',
       'e_tm_tov_pct', 'tm_tov_pct', 'efg_pct', 'ts_pct', 'usg_pct',
       'e_usg_pct', 'e_pace', 'pace', 'pie', 'team_name', 'pts_off_tov',
       'pts_2nd_chance', 'pts_fb', 'pts_paint', 'opp_pts_off_tov',
       'opp_pts_2nd_chance', 'opp_pts_fb', 'opp_pts_paint', 'blka', 'pfd',
       'granularity', 'season_id', 'per_mode'],
      dtype='object')

In [0]:
# dataframe property
print(player_df.shape, team_df.shape)

(69863, 81) (5538, 62)

In [0]:
# filter match ids
match_id_field = list(player_df['match_id']) + list(team_df['match_id'])
unwanted_ids = [i for i in match_id_field if str(i)[0] != '2']
print("unwanted match_id number: ", len(unwanted_ids))

unwanted match_id number:  9665

In [0]:
# assumption testing -> match id is always 8 digits
match_id_len = [len(str(i)) == 8 for i in match_id_field]
print("Assumption is tested to be: ", all(match_id_len))

Assumption is tested to be:  True

In [0]:
# regular season match ids start with 2
# Filter all those starting with 2
def remove_non_nba(data):
  return data[(data['match_id'] >= 20000000) & (data['match_id'] < 30000000)]

In [0]:
# test match_id filter
nba_player_df = remove_non_nba(player_df)  # nba df is all match within nba(match id starts with 2)
nba_team_df = remove_non_nba(team_df)
print("Rows filtered out: ", (player_df.shape[0] + team_df.shape[0]) - (nba_player_df.shape[0] + nba_team_df.shape[0]))

Rows filtered out:  9665

In [0]:
# Now we try to understand the season data
season_id_field = list(set(player_df['season'])) + list(set(team_df['season_id']))
print("Season ids are: ", season_id_field)

Season ids are:  ['2017-18', '2018-19', 22017, 22018]

In [0]:
# convert season_id for consistency
pd.options.mode.chained_assignment = None

nba_player_df.loc[nba_player_df['season'] == '2018-19', 'season_id'] = 22018
nba_player_df.loc[nba_player_df['season'] == '2017-18', 'season_id'] = 22017
nba_player_df = nba_player_df.astype({'season_id':int})

In [0]:
# The data contains 2 seasons
# Separate 2017 and 2018 season
# Look at season_id attribute
def separate_season(data):
  return data[data['season_id'] == 22017], data[data['season_id'] == 22018]

In [0]:
# separate data based on season
player17_df, player18_df = separate_season(nba_player_df)
team17_df, team18_df = separate_season(nba_team_df)
print(player17_df.shape, player18_df.shape, team17_df.shape, team18_df.shape)

(30020, 81) (30796, 81) (2460, 62) (2460, 62)

In [0]:
# add a home/ away column to team df
def bool_home_away(player, team):
  # Use the players dataset
  # Compare team_id with hometeam_id
  # Then use match_ids in the two datasets to take home/away boolean
  # from players dataset to team dataset
  isHome = player['team_id'] == player['hometeam_id']
  player = player.assign(isHome = isHome.values)
  team = team.merge(player[['match_id', 'team_id', 'isHome']], on=['match_id', 'team_id'], how = 'left')
  team.drop_duplicates(inplace=True)
  return player, team

In [0]:
# add isHome to both player and team df
player17, team17 = bool_home_away(player17_df, team17_df)
player18, team18 = bool_home_away(player18_df, team18_df)
print(player17.shape, player18.shape, team17.shape, team18.shape)

(30020, 82) (30796, 82) (2460, 63) (2460, 63)

In [0]:
def pts_scored_recieved(player):
  player['pts_scored'] = 0 
  player['pts_received'] = 0
  player.loc[player['isHome'] == True, ['pts_scored']] = player['final_hscore'] # points scored = home score for home teams.
  player.loc[player['isHome'] == True, ['pts_received']] = player['final_vscore'] # points received = away score for home teams.
  player.loc[player['isHome'] == False, ['pts_scored']] = player['final_vscore']
  player.loc[player['isHome'] == False, ['pts_received']] = player['final_hscore']
  return player

In [0]:
pts_scored_recieved(player17)
pts_scored_recieved(player18)
print('Done')

Done

In [0]:
team18.head()

    match_id     team_id   team_name_x  ... season_id per_mode  isHome
0   21800729  1610612762          Jazz  ...     22018  PerGame    True
13  21800729  1610612750  Timberwolves  ...     22018  PerGame   False
26  21800428  1610612758         Kings  ...     22018  PerGame    True
39  21800428  1610612744      Warriors  ...     22018  PerGame   False
50  21800081  1610612753         Magic  ...     22018  PerGame   False

[5 rows x 63 columns]

In [0]:
team17.head()

    match_id     team_id team_name_x  ... season_id per_mode  isHome
0   21700366  1610612762        Jazz  ...     22017  PerGame    True
12  21700366  1610612745     Rockets  ...     22017  PerGame   False
24  21700507  1610612754      Pacers  ...     22017  PerGame    True
36  21700507  1610612742   Mavericks  ...     22017  PerGame   False
47  21700105  1610612749       Bucks  ...     22017  PerGame   False

[5 rows x 63 columns]

In [0]:
def get_rolling_lr(data): # team data as input
  relevant_stats = ['match_id', 'team_id', 'isHome', 'plus_minus', 'fgm', 'fga', 'fg_pct', 'fg3m', 'fg3a',
                  'fg3_pct', 'ftm', 'fta', 'ft_pct', 'oreb', 'dreb', 'reb', 
                  'ast', 'stl', 'blk', 'to', 'pf', 'pts', 'e_off_rating', 
                  'off_rating', 'e_def_rating', 'def_rating', 'e_net_rating', 
                  'net_rating', 'ast_pct', 'ast_tov', 'ast_ratio', 'oreb_pct', 
                  'dreb_pct', 'reb_pct', 'e_tm_tov_pct', 'tm_tov_pct', 'efg_pct', 
                  'ts_pct', 'usg_pct', 'e_usg_pct', 'e_pace', 'pace', 'pie', 
                  'pts_off_tov', 'pts_2nd_chance', 'pts_fb', 'pts_paint', 'opp_pts_off_tov', 
                  'opp_pts_2nd_chance', 'opp_pts_fb', 'opp_pts_paint', 'blka', 'pfd']

  constant_attr=['match_id', 'team_id', 'isHome', 'plus_minus']
  
  data = data.sort_values('match_id', ascending=True) # sort by date (matchid is chronological)
  data.set_index(constant_attr,inplace=True) # set constants as index so they dont get averaged
  result= data.groupby("team_id").apply(lambda x:x.rolling(window=5).mean()) # get rolling avg
  dropped = result.dropna()
  result = dropped.groupby('match_id').apply(filter_single)
  result = result.reset_index(level=[1, 2, 3, 4]) # put indexes back in as columns
  result = result.drop(['match_id'], axis=1)
  result = result.reset_index(level=0)

  return result

In [0]:
def get_rolling(data):
  relevant_stats = ['match_id', 'team_id', 'isHome', 'pts', 'fgm', 'fga', 'fg_pct', 'fg3m', 'fg3a',
                  'fg3_pct', 'ftm', 'fta', 'ft_pct', 'oreb', 'dreb', 'reb', 
                  'ast', 'stl', 'blk', 'to', 'pf', 'e_off_rating', 
                  'off_rating', 'e_def_rating', 'def_rating', 'e_net_rating', 
                  'net_rating', 'ast_pct', 'ast_tov', 'ast_ratio', 'oreb_pct', 
                  'dreb_pct', 'reb_pct', 'e_tm_tov_pct', 'tm_tov_pct', 'efg_pct', 
                  'ts_pct', 'usg_pct', 'e_usg_pct', 'e_pace', 'pace', 'pie', 
                  'pts_off_tov', 'pts_2nd_chance', 'pts_fb', 'pts_paint', 'opp_pts_off_tov', 
                  'opp_pts_2nd_chance', 'opp_pts_fb', 'opp_pts_paint', 'blka', 'pfd']

  constant_attr=['match_id', 'team_id', 'isHome', 'pts']
  
  data = data.sort_values('match_id', ascending=True) # sort by date (matchid is chronological)
  data.set_index(constant_attr,inplace=True) # set constants as index so they dont get averaged
  result= data.groupby("team_id").apply(lambda x:x.rolling(window=5).mean()) # get rolling avg
  dropped = result.dropna()
  result = dropped.groupby('match_id').apply(filter_single)
  result = result.reset_index(level=[1, 2, 3, 4]) # put indexes back in as columns
  result = result.drop(['match_id'], axis=1)
  result = result.reset_index(level=0)

  return result

In [0]:
def filter_single(x):
  if  len(x)>1:
    return x

In [0]:
def get_logReg_test(teamdf): # testing dataset
  team = get_rolling(teamdf) # get moving avgs
  home = team.loc[team['isHome']==True]
  visitor = team.loc[team['isHome']==False] # divide as home- away
  visitor = visitor.rename(columns={'team_id': 'v_team_id', 'ast_tov' : 'v_ast_tov', 'oreb_pct': 'v_oreb_pct',
                                    'efg_pct': 'v_efg_pct', 'e_net_rating': 'v_net_rating'}) # identify visitor stats
  visitor = visitor[['match_id', 'v_ast_tov', 'v_oreb_pct', 'v_efg_pct', 'v_net_rating']]
  home = home[['match_id', 'ast_tov', 'oreb_pct', 'efg_pct', 'e_net_rating', 'plus_minus']]
  data = pd.merge(home, visitor, on='match_id') # merge home&visitor stats
  data['winner'] = 'N/A'
  data.loc[data['plus_minus']>0, ['winner']] = 1 #add winner column (1 if home, 0 if away)
  data.loc[data['plus_minus']<0, ['winner']] = 0
  data = data.drop(['plus_minus', 'match_id'], axis=1)
  return(data)

In [0]:
def get_logReg_train(teamdf): # training dataset
  team = teamdf
  home = team.loc[team['isHome']==True]
  visitor = team.loc[team['isHome']==False]
  visitor = visitor.rename(columns={'team_id': 'v_team_id', 'ast_tov' : 'v_ast_tov', 'oreb_pct': 'v_oreb_pct',
                                    'efg_pct': 'v_efg_pct', 'e_net_rating': 'v_net_rating'}) # identify visitor stats
  visitor = visitor[['match_id', 'v_ast_tov', 'v_oreb_pct', 'v_efg_pct', 'v_net_rating']]
  home = home[['match_id', 'ast_tov', 'oreb_pct', 'efg_pct', 'e_net_rating', 'plus_minus']]
  data = pd.merge(home, visitor, on='match_id') # merge home&visitor stats
  data['winner'] = 'N/A'
  data.loc[data['plus_minus']>0, ['winner']] = 1 #add winner column (1 if home, 0 if away)
  data.loc[data['plus_minus']<0, ['winner']] = 0
  data = data.drop(['plus_minus', 'match_id'], axis=1)
  return(data)

In [0]:
train = get_logReg_train(team17)
test = get_logReg_test(team18)

In [0]:
train.head()

   ast_tov  oreb_pct  efg_pct  ...  v_efg_pct  v_net_rating  winner
0     1.31     0.130    0.513  ...      0.580           8.2       0
1     1.80     0.262    0.544  ...      0.564           5.3       0
2     1.91     0.250    0.619  ...      0.599          -7.1       1
3     2.06     0.370    0.549  ...      0.523          -0.9       1
4     1.76     0.364    0.520  ...      0.494         -19.3       1

[5 rows x 9 columns]

In [0]:
test.head()

   ast_tov  oreb_pct  efg_pct  ...  v_efg_pct  v_net_rating  winner
0    1.824    0.2872   0.5686  ...     0.5184         -0.22       1
1    2.492    0.2666   0.5490  ...     0.5060          7.64       1
2    2.210    0.2918   0.5390  ...     0.5408        -10.56       1
3    2.092    0.2706   0.4742  ...     0.6096         14.14       0
4    1.758    0.2990   0.5644  ...     0.5098         -8.66       1

[5 rows x 9 columns]

In [0]:
from sklearn.linear_model import LogisticRegression

x_train, y_train = train.drop(columns=['winner']), train['winner'].to_numpy()

log_reg = LogisticRegression()
log_reg.fit(x_train, y_train) #train

x_test, y_test = test.drop(columns=['winner']), test['winner']

acc=log_reg.score(x_test, y_test) #test
print(acc)
# print("Baseline accuracy is {} on our test data".format(acc))

In [0]:
print(log_reg.coef_)
print(log_reg.intercept_)

In [0]:
import torch.nn as nn
import torch.nn.functional as F

class LargeNet(nn.Module):
    def __init__(self, num_inputs):
        super(LargeNet, self).__init__()
        self.name = "large"
        self.fc1 = nn.Linear(num_inputs, 110)
        self.fc2 = nn.Linear(110, 22)
        self.fc3 = nn.Linear(22, 1)

    def forward(self, x, num_inputs):
        x = x.view(-1, num_inputs)
        x = self.fc1(x.float())
        x = F.relu(x)
        x = F.relu(self.fc2(x))
        x = self.fc3(x)
        x = x.squeeze(1) # Flatten to [batch_size]
        return x

In [0]:
def getOffDef(df):
  team = get_rolling(df) # get moving avgs
  home = team.loc[team['isHome']==True]
  visitor = team.loc[team['isHome']==False] # divide as home- away
  # visitor = visitor.rename(columns={'team_id': 'v_team_id', 'ast_tov' : 'v_ast_tov', 'oreb_pct': 'v_oreb_pct',
                                    # 'efg_pct': 'v_efg_pct', 'e_net_rating': 'v_net_rating'}) # identify visitor stats
  visitorOff = visitor[['match_id', 'ast_tov', 'oreb_pct', 'efg_pct', 'e_net_rating', 'pts', 'isHome']]
  homeOff = home[['match_id', 'ast_tov', 'oreb_pct', 'efg_pct', 'e_net_rating', 'pts', 'isHome']]
  visitorDef = visitor[['match_id', 'stl', 'blk', 'e_def_rating', 'opp_pts_2nd_chance']]
  homeDef = home[['match_id', 'stl', 'blk', 'e_def_rating', 'opp_pts_2nd_chance']]
  data1 = pd.merge(homeOff, visitorDef, on='match_id') # merge home&visitor stats
  data2 = pd.merge(visitorOff, homeDef, on='match_id')
  # data1['pts_scored'] = 'N/A'
  # data2['pts_scored'] = 'N/A'
  # data1.loc[data1['match_id']==df['match_id'], ['pts_scored']] = df[['pts']]
  # data2.loc[data2['match_id']==df['match_id'], ['pts_scored']] = df[['final_vscore']]
  data = data1.append(data2)
  data = data.sort_values(['match_id', 'isHome'], ascending=True )
  return(data)

In [0]:
import torch
import numpy as np
from torch.utils import data

def get_loader(df):

  # df = df.sort_values('match_id', ascending=True)
  df = df.drop(['match_id'], axis=1)
  df_train, df_val, df_test = df.iloc[0:int(len(df)*0.7), :], df.iloc[int(len(df)*0.7):int(len(df)*0.85), :], df.iloc[int(len(df)*0.85):, :]

  train, test, val = get_xy(df_train), get_xy(df_test), get_xy(df_val)

  return train, test, val

def get_xy(df):

  df_y = df['pts'] # change to points scored by offensive team
  df_x = df.drop(['pts'], axis=1)
  np_x, np_y = list(df_x.to_numpy()), df_y.to_numpy()
  x, y = torch.tensor(np_x, dtype=float), torch.tensor(np_y, dtype=float)
  df = data.TensorDataset(x, y)
  dl = data.DataLoader(df, batch_size=1)
  return dl

In [0]:
def standardize(df, label):
    df = df.copy(deep=True)
    series = df.loc[:, label]
    avg = series.mean()
    stdv = series.std()
    series_standardized = (series - avg)/ stdv
    df.loc[:, label] = series_standardized
    return df

In [0]:
dataset = getOffDef(team17)
cols = ['ast_tov', 'oreb_pct', 'efg_pct', 'e_net_rating', 'stl', 'blk', 'e_def_rating', 'opp_pts_2nd_chance', 'pts']
dataset = standardize(dataset, cols)
dataset.head()

   match_id   ast_tov  oreb_pct  ...       blk  e_def_rating  opp_pts_2nd_chance
0  21700056 -0.753867  0.267881  ... -1.970881     -0.653634           -1.268798
0  21700056 -0.160224  0.236107  ... -1.368683      1.422180           -0.377794
1  21700057 -0.981337 -0.341122  ... -0.465387     -0.366939            1.323215
1  21700057 -1.286481  0.702127  ...  0.437909     -0.610086           -0.944796
2  21700058 -0.726126  0.670353  ... -0.164288      0.580242            1.080213

[5 rows x 11 columns]

In [0]:
import matplotlib.pyplot as plt

train, test, val = get_loader(dataset)

In [0]:
def training(model, loader, num_epochs = 15, num_inputs = 9):

  loss_fn = torch.nn.MSELoss(reduction='sum')
  learning_rate = 1e-3
  optimizer = torch.optim.Adam(model.parameters(), lr=learning_rate)
  # x, y = [], []
  predictions, actual = [], []
  for i, data in enumerate(loader, 0): 
    inputs, labels = data
    y_pred = model(inputs, num_inputs)
    predictions.append(y_pred)
    actual.append(labels.float())
    loss = loss_fn(y_pred, labels.float())
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
  return predictions, actual

In [0]:
def get_accuracy(model, a):
  pred, act = training(model, a)
  acc=0
  for x in range(len(pred)):
    if x%2==1:
      if (pred[x]>pred[x-1] and act[x]>act[x-1]) or (pred[x]<pred[x-1] and act[x]<act[x-1]):
        acc += 1
  return (2*acc/len(pred))

In [0]:
model = LargeNet(9)
get_accuracy(model, train)

In [0]:
model = LargeNet(9)
pred, act = training(model, test)

acc=0
for x in range(len(pred)):
  if x%2==1:
    if (pred[x]>pred[x-1] and act[x]>act[x-1]) or (pred[x]<pred[x-1] and act[x]<act[x-1]):
      acc += 1
print(2*acc/len(pred))

1633 1633
0.7054500918554807